@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.table-container-inside{
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap:8px;
    height: 100%;
}

.table-header{
    background-color: #4856BEF5;
    height: 56px;
    border-radius: 10px;
    font-size: 16px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 16px;
    font-family: 'Inter', sans-serif;
}


